.roots-font{

    font-family:'Cormorant Garamond', serif;

    font-size:4rem;

    font-weight:500;

    letter-spacing:1px;

}

.canvas-font{
    font-family: "Cormorant Garamond", serif;
    color: #FBF5D2 ;
    font-size: 3.8rem;
}

.hero-title {
  opacity: 0;
  transform: translateY(40px);

  animation: heroTitle 1.4s cubic-bezier(.22, 1, .36, 1) forwards;
}

@keyframes heroTitle {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar{
    position: fixed;
    top:20px;
    left:20px;
    right:20px;

    width:auto;

    padding:12px 30px;

    display:flex;
    align-items:center;

    backdrop-filter:blur(15px);

    border:1px solid rgba(95,84,84,.6);
    border-radius:20px;

    z-index:1000;
}

.logo{

    font-family:"Cormorant Garamond", serif;

    font-size:1.5rem;

    font-weight:700;

    color:var(--cream) !important;

    letter-spacing:2px;

}

.nav-link{

    font-family:'Manrope', sans-serif;

    font-size:0.95rem;

    font-weight:500;

    letter-spacing:1px;

    text-transform:uppercase;

    color: var(--desert-tan);

    transition:0.3s;

}

.nav-link:hover{

    color:var(--black) !important;

    text-shadow:0 0 10px rgba(141, 33, 33, 0.793);

}




body{
    font-family:'Inter',sans-serif;
    background-color:var(--dark-brown);
    color:var(--cream);
}


body > * {
  opacity: 0;
  transform: translateY(30px);
  animation: rise 0.8s ease forwards;
}

body > *:nth-child(1) { animation-delay: .1s; }
body > *:nth-child(2) { animation-delay: .2s; }
body > *:nth-child(3) { animation-delay: .3s; }
body > *:nth-child(4) { animation-delay: .4s; }

@keyframes rise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1,h2,h3,h4,h5{
    font-family:'Manrope',serif;
}


.h3{font-weight:bold;
font-family: 'Cormorant Garamond', serif; }


.hero{

    min-height:80vh;

    padding-top:120px;

    display:flex;

    align-items:center;

    background:
    linear-gradient(
       rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),

    url('../images/download (40).jpeg');

    background-size:cover;

    background-position:center;

}

.hero-title{

    line-height:0.9;

    margin-bottom:30px;

}

.hero-text{

    font-size:1.2rem;

    max-width:550px;

    color:var(--cream);

}

.hero-image{

    border-radius:25px;

    box-shadow:
    0 20px 50px var(--chestnut);

    transition:0.4s;

}

.hero-image:hover{

    transform:scale(1.03);

}

.small-heading{

    color:var(--cream);

    letter-spacing:4px;

    text-transform:uppercase;

    font-size:0.9rem;

}

:root{

    --chestnut:#4B0803;
    --copper:#BF4B12;
    --amber:#E89A2D;
    --dark-brown:#3A1F1A;
    --olive:#556B2F;
    --cream:#F7E3C9;
    --desert-tan:#F2D2A2;

}


.custom-btn{

    background:var(--olive);

    color:rgb(229, 201, 201);

    border:none;

    padding:12px 30px;

    border-radius:12px;

    transition:0.3s;

}

.custom-btn:hover{

    background:var(--copper);

    transform:translateY(-3px);

}

img{

    border-radius:20px;
     transition:0.4s;

}


img:hover{

    transform:scale(1.02);

}

.gallery-img{

    width:100%;
    height:350px;

    object-fit:cover;

    border-radius:20px;

    transition:0.4s;

    box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

.gallery-img:hover{

    transform:scale(1.03);

}

.artwork-card{

    position:relative;

}

.status{

    position:absolute;

    top:15px;

    left:15px;

    padding:8px 15px;

    border-radius:30px;

    font-size:0.8rem;

    font-weight:bold;

    color:white;

    z-index:10;

}

.artwork-card img{

    height:350px;

    object-fit:cover;

}

.artwork-card:hover{

    transform:translateY(-5px);

    transition:0.3s;

}

.carousel{

    border-radius:20px;

    overflow:hidden;

    box-shadow:var(--chestnut);

}

.carousel-caption{

    padding:0px;

    border-radius:15px;

}

.carousel-img{

    height:600px;

    object-fit:cover;

    filter:brightness(65%);

}

.carousel-caption{

    bottom:20%;

}

.carousel-caption h2{

    font-size:3rem;

    color:var(--cream);

    font-family:'Cormorant Garamond', serif;

}

.carousel-caption p{

    font-size:1.2rem;

    max-width:700px;

    margin:auto;

}


.market-title{

    color: var(--creamk);

    font-family: 'Cormorant Garamond', serif;

    margin-bottom: 20px;

}

.art-row{

    display: flex;

    gap: 20px;

    overflow-x: auto;

    padding-bottom: 20px;

    scrollbar-width: none;

}

.art-row::-webkit-scrollbar{

    display: none;

}


.market-card{

    min-width: 320px;

    background: var(--cream);

    border-radius: 20px;

    overflow: hidden;

    position: relative;

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

    transition: 0.3s;

}

.market-card:hover{

    transform: translateY(-8px);

}

.market-card{

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    color:var(--cream);
}

.market-info{

    padding: 20px;

}

.status{

    position: absolute;

    top: 15px;

    left: 15px;

    padding: 8px 15px;

    border-radius: 50px;

    color: white;

    font-size: 0.8rem;

    font-weight: bold;

    z-index: 10;

}

.sold{

    background: #8B0000;

}

.booked{

    background: #C87B38;

}

.available{

    background:olive;

}

.blog-hero{

    background:
    linear-gradient(
        rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),
    url('../images/images (12).jpeg');

    background-size:cover;
    background-position:center;

    color:var(--cream);

    padding:120px 0;

}

.Artists-hero{

    background:
    linear-gradient(
        rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),
    url('../images/heri.jpeg');

    background-size:cover;
    background-position:center;

    color:var(--cream);

    padding:120px 0;

}

.About-hero{

    background:
    linear-gradient(
        rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),
    url('../images/about.jpeg');

    background-size:cover;
    background-position:center;

    color:var(--cream);

    padding:120px 0;
}

.Heritage-hero{

    background:
    linear-gradient(
        rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),
    url('../images/Story telling.jpeg');

    background-size:cover;
    background-position:center;

    color:var(--cream);

    padding:120px 0;

}

.gallery-hero{

    background:
    linear-gradient(
        rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),
    url('../images/gallery.jpeg');

    background-size:cover;
    background-position:center;

    color:var(--cream);

    padding:120px 0;

}


.marketPlace-hero{

    background:
    linear-gradient(
        rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),
    url('../images/Kimironko Market, Kigali.jpeg');

    background-size:cover;
    background-position:center;

    color:var(--cream);

    padding:120px 0;

}

.card{

    background:rgba(255,255,255,0.05);

    color:var(--cream);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:18px;

    overflow:hidden;

    transition:0.3s;

}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

.blog-card{

    transition:0.3s;

}

.blog-card:hover{

    transform:translateY(-8px);

}

.blog-category{

    background-color:var(--olive);

    color:white;

    padding:6px 12px;

    border-radius:20px;

    font-size:0.8rem;

}

.featured-blog{

    background-color:var(--desert-tan);

}

.contact-hero{

    background:
    linear-gradient(
        rgba(75,8,3,0.8),
        rgba(75,8,3,0.6)
    ),
    url('../images/5,473 Kenyan Art Stock Photos, High-Res Pictures, and Images - Getty Images _ African art_files/gettyimages-2182908956-612x612.jpg');

    background-size:cover;
    background-position:center;

    color:var(--cream);

    padding:120px 0;

}

.contact-card{

    background:var(--cream);

    padding:30px;

    text-align:center;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    height:100%;

}

.contact-card h3{

    color:var(--chestnut);

    margin-bottom:15px;

}

.contact-card p{
    color: var(--chestnut);
    font-size: 1.1rem;
}


section{

    padding-top:70px 0;

}

.section-title{

    font-size:3rem;

    color:var(--cream);

    margin-bottom:20px;

}

.section-subtitle{

    color:var(--cream);

    text-transform:uppercase;

    letter-spacing:3px;

    font-size:0.9rem;

}

.social-icons img{
    width:40px;
    height:40px;
    transition:0.3s;
}

.social-icons a {
    text-decoration: none;
    font-size: 50px;
     margin: 0 15px;
}


.social-icons img:hover{
    transform:scale(1.2);
}

footer{

    background:#24130F;

    padding:60px 0;

    margin-top:80px;

}


